<!doctype html>
<html ng-app="asanaChromeApp" ng-csp="">
    <head>
        <meta charset="utf-8">
        <title>test</title>

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="bower_components/angular/angular-csp.css" />
        <link rel="stylesheet" href="styles/bootstrap-paper-theme.min.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-controller="MainController">
        <!--<div class="container minimal" ng-show="minimal">
            <div class="checkbox pull-left">
                <input type="checkbox" name="" value="" >
            </div>
            <div class="minimal-text pull-left">
                The text task will come here....
            </div>
            <div class="btn-group-vertical pull-right" role="group">
                <button class="btn btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
                <button class="btn btn-sm" ng-click="toggleMinimal()"><i class="glyphicon glyphicon-resize-full"></i></button>
            </div>
            <div class="btn-group-vertical pull-right" role="group">
                <button class="btn btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></button>
                <button class="btn btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></button>
            </div>
        </div> -->
        <div class="container">
            <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-show="taskContext.length > 0"><a href="#" ng-click="reduceContext()" title="{{contextText}}"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp; {{contextText | limitTo:6 }}...</a></li>
                <li role="presentation" class="active"><a href="#tasks-tab" aria-controls="tasks-tab" role="tab" data-toggle="tab">Tasks</a></li>
                <li role="presentation"><a href="#settings-tab" aria-controls="settings-tab" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i></a></li>
                <li role="presentation"><a href="#add-tab" aria-controls="add-tab" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-plus"></i></a></li>
                <li role="presentation"><a href="#" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i></a></li>
                <li role="presentation"><a id="move-tab"><i class="glyphicon glyphicon-move"></i></a></li>
                <li role="presentation" ng-show="asana.loading != 0"><div class="loading"></div></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tasks-tab">
                    <ul id="tasks" ng-show="tasks.length > 0">
                        <li ng-repeat="item in tasks | filter:taskFilter" id="item{{item.id}}">
                            <div data-item="item"></div>
                        </li>
                    </ul>
                    <p ng-show="tasks.length <= 0">No tasks in selected project. Change workspace or project using the settings tab.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Select Workspace:</label>
                            <select id="workspace" class="form-control" ng-model="selectedWorkspace" ng-change="changeWorkspace(selectedWorkspace)">
                                <option ng-repeat="workspace in asana.workspaces" ng-selected="workspace.isSelected" value="{{workspace.id}}">{{workspace.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>Select Project:</label>
                            <select id="workspace" class="form-control" ng-model="selectedProject" ng-change="changeProject(selectedProject)">
                                <option ng-repeat="project in asana.projects" ng-selected="project.isSelected" value="{{project.id}}">{{project.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>View:</label>
                            <select ng-model="taskFilterCompleted" ng-change="adjustFilter()" class="form-control">
                                <option value="all">All Completed and Incomplete Tasks</option>
                                <option value="todo">Tasks to do </option>
                                <option value="completed">Completed Tasks</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>Filter Assigned:</label>
                            <select ng-model="taskFilterAssigned" class="form-control" ng-change="adjustFilter()">
                                <option ng-repeat="user in asana.team" ng-selected="user.isSelected" value="{{user.id}}">
                                    {{user.name}}
                                </option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>API Key:</label>
                            <div class="input-group">
                                <input type="text" ng-model="apiKey" class="form-control comment" placeholder="Please enter your API key" />
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-info" ng-click="saveApiKey(apiKey)"><i class="glyphicon glyphicon-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="add-tab">
                    <h5>Add a new Task</h5>
                    <p><strong>Coming soon.</strong></p>
                </div>
            </div>
            <div class="footer">2014 <a href="http://marketlytics.com" target="_blank">@marketlytics</a> - use  &#8984; +  &#8679; + 5 to toggle the app</div>
        </div>

        <!-- incase of weird js errors replace lodash.compact with loadash.min -->
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-base64/angular-base64.js"></script>
        <script src="bower_components/chrome-platform-analytics/google-analytics-bundle.js"></script>
        <script src="bower_components/bugsnag/src/bugsnag.js"></script>
        <script src="bower_components/angular-bugsnag/dist/angular-bugsnag.js"></script>
        <script src="bower_components/angular-notify/dist/angular-notify.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- Bugsnag line 302 has been edited to comply with CSR, so it has been included seperately -- >
        
        <!-- build:js scripts/index.js -->
        <script src="scripts/vendor/bugsnag.js"></script>
        <script src="scripts/chrome.js"></script>
        <script src="scripts/index.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/item.js"></script>
        <script src="scripts/directives/item.js"></script>
        <script src="scripts/services/asana.js"></script>
        <!-- endbuild -->

    </body>
</html>
