<div class="panel-group" id="help-accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="collapseOneHeading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What is this?
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseOneHeading">
    <div class="panel-body">
       This is a non-offical chrome app for Asana using their API. The core aim of this app is to allow the user fast and easy access to their tasks, and allow them to update its status, comment or attach files straight from desktop. It also syns stuff offline, so you can view your tasks with or without an internet connection. Finally it also as an auto-refresh built in, notifying you of changed tasks in the project / workspace you are currently active.
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="collapseTwoHeading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        I cant understand how this works
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTwoHeading">
    <div class="panel-body">
       The app has two main views - the task view and the settings view. You can switch to either of them using the tabs on top. The task view shows the current tasks in the currently selected project
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="collapseThreeHeading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        There is a feature missing
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseThreeHeading">
    <div class="panel-body">
       This is a non-offical chrome app for Asana using their API. The core aim of this app is to allow the user fast and easy access to their tasks, and allow them to update its status, comment or attach files straight from desktop. It also syns stuff offline, so you can view your tasks with or without an internet connection. Finally it also as an auto-refresh built in, notifying you of changed tasks in the project / workspace you are currently active.
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="collapseFourHeading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        What is the best way to setup this app
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFourHeading">
    <div class="panel-body">
       This is a non-offical chrome app for Asana using their API. The core aim of this app is to allow the user fast and easy access to their tasks, and allow them to update its status, comment or attach files straight from desktop. It also syns stuff offline, so you can view your tasks with or without an internet connection. Finally it also as an auto-refresh built in, notifying you of changed tasks in the project / workspace you are currently active.
    </div>
  </div>
</div>