<div class="checkbox" ng-click="toggle(item.id)">
	<input type="checkbox" name="task" value="{{item.id}}" ng-model="item.completed"  ng-change="asana.toggleTaskComplete(item.id, item.completed)"/>&nbsp;
	<span class="task-text">{{item.name}}&nbsp;</span>
	<small ng-show="item.due_on">{{item.due_on | date:'dd MMM'}}</small>
	<a class="pull-right"><i class="glyphicon" ng-class="{ 'glyphicon-chevron-right': !showDetails, 'glyphicon-chevron-down': showDetails}"></i></a>
</div>
<div class="details" ng-show="showDetails">
	<p class="lead" ng-show="item.notes !== ''">{{item.notes}}</p>
	<ul class="stories">
		<li ng-repeat="story in item.stories">
			{{story.created_by.name}} {{story.text}} <small>{{ story.created_at | date:'dd MMM'}}</small>
		</li>
	</ul>

	<div class="input-group">
		<input type="text" id="comment{{item.id}}" class="form-control comment" placeholder="Write a comment..." />
	  	<div class="input-group-btn">
	    <button class="btn btn-sm btn-info" ng-click="addStory(item.id)"><i class="glyphicon glyphicon-send"></i></button>
	 </div>
	</div>
	
</div>
